@import "./variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
}

.top,
.bottom {
  flex-basis: 50%;
  flex-grow: 1;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;

  .gameHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: $content-max-width;
    padding: 1rem;
  }
}

.bottom {
  overflow-x: auto;
}

.arrowContainer {
  width: 40px;
  height: 40px;
  text-align: center;
}

.arrow {
  animation: bounce 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bounce {
  50% {
    transform: translateY(-8px);
  }
}