@import "./variables";

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100%;
}

.gameHeader {
  display: flex;
  justify-content: space-between;
  align-self: center;
  width: 100%;
  max-width: $content-max-width;
  padding: 1rem;

  .actionsContainer {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.top,
.bottom {
  flex-grow: 1;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.arrowContainer {
  width: 40px;
  height: 40px;
  text-align: center;
  transform: rotate(180deg);
}

.arrow {
  animation: bounce 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes bounce {
  50% {
    transform: translateY(-8px);
  }
}