.wrapper {
  display: grid;
  grid-template-rows: 1fr auto;

  width: 100%;
  height: 100%;
}

.top {
  display: grid;
  place-content: center;
}

.bottom {
  display: flex;
  align-items: center;

  position: relative;
  overflow-x: auto;
  padding: 0 0 3rem 0;
}
