@import "./variables";

.button {
  border: none;
  background: $primary;
  color: $text-light;
  padding: 10px 24px;
  border-radius: $button-border-radius;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  white-space: nowrap;
  width: 140px;

  &:hover {
    filter: brightness(1.3);
  }

  &.minimal {
    background: none;
    border: 2px solid $primary;
  }
}
