.chartBar {
  display: flex;
  align-items: center;

  .bar {
    display: inline-block;
    height: 1rem;
    margin-right: 5px;
    border-radius: 3px;
    border: solid 2px #333;
  }

  .co2 {
    white-space: nowrap;
  }
}