@import "./variables";

.explanationDialogContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000a;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  cursor: pointer;
  z-index: 1000;
}

.explanationDialog {
  width: 100%;
  max-width: 400px;
  color: $text;
  background-color: #fff;
  border-radius: $box-border-radius;

  header,
  main,
  footer {
    padding: 1rem;
  }

  main {
    padding-top: 0;
    padding-bottom: 0;
  }

  h2 {
    font-size: 1.6rem;
  }

  h2,
  h3 {
    margin: 0;
  }
  h3 {
    margin-bottom: .5rem;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    margin-bottom: 1rem;
    list-style: none;
  }

  footer {
    text-align: center;

    h3 {
      font-size: 1.4rem;
      margin-bottom: 1rem;
    }

    strong {
      font-size: 1.6rem;
      padding: .4rem .8rem;
      border: solid #333 2px;
      border-radius: 3px;
    }
  }
}