@import "./variables";

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;

  .score,
  .highscore {
    color: $text-light;
    font-size: 28px;
  }

  .score {
    margin-top: 20px;
  }

  .highscore {
    margin-top: 10px;
    margin-bottom: 40px;
  }
}
