@import "./variables";

.gameOver {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 60px;

  .scoresWrapper {
    margin: 40px 0;
    display: flex;
    justify-content: space-evenly;

    .score {
      display: inline-block;

      &:last-child {
        margin-left: 20px;
      }
    }
  }

  .buttons {
    display: flex;

    > button {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }
}
