@import "./variables";
@import "react-loader-spinner/dist/loader/css/react-spinner-loader.css";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $text-light;
  font-size: 14px;
  background: $background;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

body {
  overscroll-behavior-y: contain;
}

a {
  color: $text-light;

  &:hover {
    color: $link-hover;
  }
}

* {
  box-sizing: border-box;
}

.button {
  border: none;
  background: $primary;
  color: $text-light;
  padding: 10px 24px;
  border-radius: $button-border-radius;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
  font-style: italic;
  white-space: nowrap;
  min-width: 120px;

  &:hover {
    filter: brightness(1.3);
  }

  &.minimal {
    background: none;
    border: 2px solid $primary;
  }

  &.big {
    font-size: 1.3rem;
    padding: 12px 28px;
  }

  &:disabled {
    background-color: #444;
    cursor: not-allowed;
  }
}

input {
  padding: 10px;
  border: solid 3px $box-background;
  border-radius: $box-border-radius;

  &:focus {
    outline: none;
    border: solid 3px $primary;
  }
}

@mixin message-box($font-color, $background-color) {
  border: solid 2px $font-color;
  background-color: $background-color;
  border-radius: 5px;
  padding: 12px;
  color: $font-color;

  :first-child {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }
}

.error-box {
  @include message-box(#b31f1f, #e38f8f);
}

.warning-box {
  @include message-box(#8c2c0c, #fd9f36);
}

.success-box {
  @include message-box(#0c6c2c, #76bd8f);
}

.info {
  font-style: italic;
  font-size: .9rem;
  opacity: .8;
}

.bordered-area {
  border: 1px dashed $dashes;
  border-radius: 5px;
}

.hoverInterrogation {
  display: none;
  background-color: #0007;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;

  > div {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 2rem;
    border-radius: 50%;
    color: $text;
    background-color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 6px 20px;
  }
}

.notDragging .played {
  cursor: pointer;

  &:hover .hoverInterrogation {
    display: flex;
  }
}