@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $text;
  font-size: 14px;
  background: $background;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

a {
  color: $text-link;
}

* {
  box-sizing: border-box;
}
