@import "./variables";

.hearts {
  align-self: flex-start;
  display: flex;
  justify-content: center;
  gap: 10px;

  .heart {
    height: 30px;
  }

  .lost {
    opacity: .4;
    scale: .8;
  }
}
