@import "./variables.scss";

.instructions {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 0 20px;
  color: $text-light;

  .wrapper {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    h1,
    h2 {
      color: $text-light;
      font-style: italic;
      text-transform: uppercase;
      margin: 0;
      margin-top: 1rem;
    }

    .highscoreWrapper {
      margin-top: 2rem;
      margin-bottom: 3rem;
      color: $text;
    }

    .startButton {
      margin: 3rem 0;
    }
  }

  .about {
    flex-grow: 0;
    text-align: center;
    margin-bottom: 10px;
    color: $text-light;

    .heartImg {
      vertical-align: bottom;
      width: 18px;
    }

    > div {
      margin-bottom: 10px;
    }

    a {
      color: $text-light;
      margin-bottom: 10px;
    }

    .ico2logo {
      width: 120px;
    }
  }
}
