@import "./variables.scss";

.instructions {
  display: flex;
  height: calc(100% - 100px);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrapper {
    padding: 0 20px;
    text-align: center;

    h2 {
      color: $text-light;
      font-style: italic;
      text-transform: uppercase;
    }

    .highscoreWrapper {
      margin: 40px 0;
    }
  }
}
