@import "./variables.scss";

.instructions {
  display: flex;
  height: calc(100% - 100px);
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .wrapper {
    padding: 0 20px;
    text-align: center;

    h2 {
      color: $text-light;
      font-style: italic;
      text-transform: uppercase;
      margin-bottom: 40px;
    }

    .highscoreWrapper {
      margin: 40px 0;
    }

    .about {
      position: absolute;
      bottom: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      margin-bottom: 10px;
      color: $text-light;

      > div {
        margin-bottom: 10px;
      }

      a {
        color: $text-light;
        margin-bottom: 10px;
      }
    }
  }
}
