@import "./variables";

.itemCard {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;

  .front,
  .back {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: $box-border-radius;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    background-color: #ffffff;
    will-change: transform, opacity;

    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0;
      border-radius: $box-border-radius;
      box-shadow: rgba(0, 0, 0, 0.65) 0px 10px 25px,
        rgba(0, 0, 0, 0.75) 0px 6px 12px;
      transition: opacity 0.3s ease-in-out;
    }
  }

  &.dragging {
    .front,
    .back {
      &::after {
        opacity: 1;
      }
    }
  }

  &.played {
    .front,
    .back {
      cursor: pointer;
    }
  }

  &.flipped {
    .front {
      z-index: -1;
    }

    .back {
      z-index: initial;
    }
  }

  .front {
    .top {
      padding: 10px;
    }

    .image {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-grow: 1;
      min-height: 0;
      background-color: $background-alt;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 25%;
      padding: 10px;
      padding-bottom: 0;
      color: $text-light;
    }

    .bottom {
      display: flex;
      justify-content: center;
      align-items: center;
      line-height: 30px;
      font-weight: 700;
      background-color: $primary;
      color: $text-light;
      border-radius: 0 0 $box-border-radius $box-border-radius;
      transition: background-color 5s ease-in-out;

      &:hover {
        background-color: #ad310b;
      }

      &.correct {
        background-color: $correct;
      }

      &.incorrect {
        background-color: $incorrect;
      }
    }
  }

  .back {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    z-index: -1;

    .description {
      overflow: auto;
      flex-grow: 1;
      color: $text;
    }

    .wikipedia {
      margin-top: 10px;
      text-align: center;
    }

    .date {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .label {
    font-weight: bold;
    word-wrap: break-word;
  }

  .description {
    margin-top: 5px;
    font-size: 12px;
    color: $text-muted;
  }
}
