@import "./variables";

.itemCard {
  display: inline-block;
  width: 150px;
  height: 200px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  position: relative;

  .front,
  .back {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background: white;
    // use this one whilst dragged
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
      rgba(0, 0, 0, 0.23) 0px 6px 6px;
    will-change: transform, opacity;
  }

  &.played {
    .front,
    .back {
      cursor: pointer;
    }
  }

  &.flipped {
    .front {
      z-index: -1;
    }

    .back {
      z-index: initial;
    }
  }

  .front {
    .top {
      padding: 10px;
    }

    .bottom {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      flex-grow: 1;
      min-height: 0;
      border-radius: 0 0 5px 5px;
      background-color: $background-alt;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 25%;
      padding: 10px;
      padding-bottom: 0;
      color: $text-light;

      .playedInfo {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        min-height: 0;
        justify-content: flex-end;

        .date {
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 5px;
          text-align: center;
          padding: 5px 10px;
          margin: 0 auto;
          border-radius: 5px 5px 0 0;

          &.correct {
            background: $correct;
          }

          &.incorrect {
            background: $incorrect;
          }
        }
      }

      .dateProp {
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 5px;
        text-align: center;
        font-size: 12px;
        padding: 5px 10px;
        background: $primary;
        margin: 0 auto;
        border-radius: 5px 5px 0 0;
      }
    }
  }

  .back {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    z-index: -1;

    .description {
      overflow: auto;
      flex-grow: 1;
      color: $text;
    }

    .wikipedia {
      margin-top: 10px;
      text-align: center;
    }

    .date {
      margin-top: 5px;
      font-size: 12px;
    }
  }

  .label {
    font-weight: bold;
    word-wrap: break-word;
  }

  .description {
    margin-top: 5px;
    font-size: 12px;
    color: $text-muted;
  }
}
