.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;

  .wrapper {
    padding-left: 20px;
    width: 190px;
    position: relative;

    .list {
      // display: flex;
      height: 240px;
    }
  }

  .wrapper::before,
  .wrapper::after,
  .list::before,
  .list::after {
    display: block;
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
  }

  .wrapper::before {
    top: -3px;
    left: -3px;
    border-top: 3px solid #fff1bd;
    border-left: 3px solid #fff1bd;
  }
  .wrapper::after {
    top: -3px;
    right: -3px;
    border-top: 3px solid #fff1bd;
    border-right: 3px solid #fff1bd;
  }
  .list::before {
    bottom: -3px;
    left: -3px;
    border-bottom: 3px solid #fff1bd;
    border-left: 3px solid #fff1bd;
  }
  .list::after {
    bottom: -3px;
    right: -3px;
    border-bottom: 3px solid #fff1bd;
    border-right: 3px solid #fff1bd;
  }
}
