@import "./variables.scss";

.wrapper {
  width: min-content;
  min-width: 100%;
  height: 100%;

  .listContainer {
    width: min-content;
    min-width: 100%;
    // 20px more on the left because the right has extra 20px margin-right from cards
    padding: 0 40px 0 60px;
    height: 100%;
    position: relative;

    .timelineContainer {
      position: absolute;
      left: 0;
      width: 100%;

      .timeline {
        width: 100%;
        height: 1px;
        border: 1px dashed $dashes;
      }
    }

    .list {
      display: flex;
      align-items: center;
      height: 100%;

      .items {
        display: flex;
        align-items: center;
        z-index: 1;

        .emptyItem {
          display: flex;
          align-items: center;
          justify-content: center;
          height: $card-height;
          width: $card-width;
          padding: $card-margin;
          margin-right: $card-margin;
          background-color: $background;
          font-size: 2rem;
        }
      }
    }
  }

  @media screen and (max-width: 600px) {
    .listContainer {
      padding: 0;
      padding-left: 20px;
    }
  }
}
