.wrapper {
  width: 100%;

  .listContainer {
    width: min-content;
    min-width: 100%;
    padding: 0 40px;

    .list {
      display: flex;
      align-items: center;

      .items {
        display: flex;
        align-items: center;
      }
    }
  }

  @media screen and (max-width: 600px) {
    .listContainer {
      padding: 0;
    }
  }
}
