.container {
  background: #ebecf0;
  padding: 60px 40px;

  .list {
    display: flex;
    align-items: center;
    overflow-x: auto;

    .items {
      display: flex;
      align-items: center;
    }
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 60px 0px;
  }
}
