@import "./variables";

.realCardsGame {
  max-width: $content-max-width;
  padding: 1.2rem;
  border: 2px solid $text-muted;
  border-radius: $small-border-radius;
  color: #ddd;
  background-color: $box-background;
  text-align: left;

  h2 {
    margin: 0;
    font-size: 1.3rem;
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    [type=email] {
      width: 250px;
      background-color: #ddd;
    }
  }
}