@import "./variables";

.realCardsGame {
  padding: 2rem;
  border: 2px solid $text-light;
  border-radius: $small-border-radius;
  background-color: $box-background;
  text-align: left;

  h2 {
    margin: 0;
  }

  form {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;

    [type=email] {
      width: 250px;
    }
  }
}