@import "./variables.scss";

.score {
  display: inline-block;
  transform: skewX(-12deg);
  border-radius: $box-border-radius;
  padding: 10px 24px;
  text-align: left;
  color: $text;

  .title {
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 5px;
    white-space: nowrap;
  }

  .value {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
  }
}
