$background: #23272c;
$box-background: #33373c;
$text: #202122;
$text-light: #fff;
$text-muted: #6b778c;
$link-hover: #ddd;
$background-alt: #e1e8ed;
$dashes: #6c8090;
$incorrect: #900;
$correct: #339966;
$primary: #069;
$small-border-radius: 5px;
$box-border-radius: 8px;
$button-border-radius: 20px;
$content-max-width: 900px;
$card-width: 150px;
$card-height: 200px;
$card-margin: 20px;
