$background: #23272c;
$text: #202122;
$text-light: #ffffff;
$text-muted: #6b778c;
$text-link: #0645ad;
$background-alt: #e1e8ed;
$dashes: #5c7080;
$incorrect: #990000;
$correct: #339966;
$primary: #006699;
$box-border-radius: 8px;
$button-border-radius: 20px;
